---
import BlogImage from '$comp/BlogImage.astro';
import type { CollectionEntry } from 'astro:content';
type ImageType = CollectionEntry<'posts'>['data']['image']
export type Props = {
  title: string;
  url: string;
  description: string;
  pubDate: Date;
  author: string;
  image: ImageType;
};
const { title, url, description, pubDate, author, image } = Astro.props;

---

<div class="h-entry w-full mx-auto h-full items-center">
  <a class="u-url group" href={url} title={title}
    ><BlogImage image={image} />
    <p class="mt-6 text-zinc-400 font-light text-xs">
      <time datetime={pubDate.toISOString()}>{pubDate.toString().slice(0, 10)}</time> by <a class="p-author h-card" href="https://colinbate.com/">{author}</a>
    </p>
    <p
      class="p-name text-white font-medium mt-3 group-hover:text-accent-400 text-xl lg:text-xl">
      {title}
    </p>
    <p
      class="p-summary mt-6 text-zinc-400 font-normal line-clamp-2 text-base leading-snug">
      {description}
    </p>
  </a>
</div>
