---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/Hero.astro";
import EntriesOne from "../components/entries/EntriesOne.astro";
import Seo from '$comp/Seo.astro';
import { sortByDate } from "src/util";
---
<Seo title="Welcome"/>
<BaseLayout>
  <Hero />
  <section class="h-feed">
    <div class="max-w-6xl mx-auto px-8 py-12">
      <div
        class="mt-6 gap-x-8 gap-y-24 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 ">
        {
          allPosts
            .slice()
            .sort(sortByDate)
            .map((post) => (
              <EntriesOne
                url={"/posts/" + post.id}
                title={post.data.title}
                description={post.data.description}
                pubDate={post.data.pubDate}
                author={post.data.author}
                image={post.data.image}
              />
            ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
