---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import Navigation from "../components/global/Navigation.astro";

interface Props {
    title: string;
    description: string;
    ogtitle?: string;
    ogdescription?: string;
    publishTime?: string;
    updateTime?: string;
    img?: ImageMetadata;
    alt?: string;
    ogImageUrl?: string;
}
const {
    title,
    ogtitle,
    description,
    ogdescription,
    publishTime,
    updateTime,
    img,
    alt,
    ogImageUrl,
} = Astro.props;
---

<html
    lang="en"
    class="scroll-smooth selection:bg-white/20 selection:text-accent-400"
>
    <head>
        <BaseHead
            title={title}
            ogtitle={ogtitle}
            description={description}
            img={img}
            alt={alt}
            publishTime={publishTime}
            updateTime={updateTime}
            ogdescription={ogdescription}
            ogImageUrl={ogImageUrl}
        />
    </head>
    <body class="bg-black text-white" id="page">
        <Navigation />

        <slot />
        <Footer />
    </body>
</html>
