---
import BlogImage from "$comp/BlogImage.astro";
import Seo from "$comp/Seo.astro";
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from 'astro:content';
interface Props {
  frontmatter: CollectionEntry<'posts'>['data'];
}
const { frontmatter } = Astro.props;
---

<Seo title={frontmatter.title} description={frontmatter.description} img={frontmatter.image.local}/>
<BaseLayout>
  <section class="h-entry overflow-hidden relative bg-black">
    <div class="px-8 mx-auto max-w-7xl lg:px-24 py-24">
      <div
        class="lg:mt-8 max-w-5xl prose hover:prose-a:text-accent-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:border-accent-400 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-accent-300/60 prose-figcaption:pb-6 prose-figcaption:text-accent-300 prose-figcaption:text-base prose-h1:font-bold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-accent-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/80 prose-table:divide-white/20">
        <h1 class="p-name">{frontmatter.title}</h1>
        <p><em class="p-summary">{frontmatter.description}</em></p>
        <p class="space-x-3">
          <time class="dt-published italic" datetime={frontmatter.pubDate.toISOString()}
            >{frontmatter.pubDate.toString().slice(0, 10)}</time
          >
          <small class="italic">Written by: <a class="p-author h-card" href="https://colinbate.com/">{frontmatter.author}</a></small>
        </p>

        <div class="not-prose flex flex-wrap space-x-3">
          {
            frontmatter.tags.map((tag) => (
              <a href={`/tags/${tag}`} class="p-category inline-flex items-center rounded-md font-mono bg-accent-400/10 px-2 py-1 text-xs font-medium text-accent-500 ring-1 ring-inset ring-accent-400/20 hover:text-accent-300 hover:ring-accent-400/60">
                {tag}
              </a>
            ))
          }
        </div>
        <div class="border-t border-white/20 flex flex-col gap-4 xl:flex-row">
          <div class="xl:order-1 not-prose max-w-prose pt-8">
            <BlogImage image={frontmatter.image} />
          </div>
          <div class="e-content max-w-prose"><slot /></div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
